// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#preview_users {
    display: none
    }
    
.table-striped > tbody > tr.to-delete,
.table-striped > tbody > tr:nth-child(odd).to-delete {
    background-color: red;
}

.table-striped > tbody > tr.to-add,
.table-striped > tbody > tr:nth-child(odd).to-add{
    background-color: green;
}

.table-striped > tbody > tr.to-edit,
.table-striped > tbody > tr:nth-child(odd).to-edit{
    background-color: yellow;
}

.affected-item {
	background-image: linear-gradient(0deg, #FFFFFF, #ffFA96, #ffffff);
	
}

.TODOaffected-item:hover:after {
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: "Another version of this item has been modified. Item will be saved.";
	left: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 220px;
}

.edited-item {
	background-image: linear-gradient(0deg, #FFFFFF, #fdd50c, #FFFFFF);
}

.saved-item {
	background-image: linear-gradient(0deg, #FFFFFF, #d5fdc0, #FFFFFF);
}

.item-row td:first-child {
	border-radius: 10px 0 0 10px;
}

.item-row td:last-child {
	border-radius: 0 10px 10px 0;
}

.item-row {
	display: block;
}

.new-language-field {
	//display: none;
}

.item-field {
	border-radius: 6px;
	padding: 3px;
}

.add-lang-button-input {
	margin-left: 10px;
}

span.new-lang-area > .btn-group > button.addLanguageRow {
	//padding: 1px 12px;
	border-radius: 0px 4px 4px 0px !important;
}

input.new-language-field {
	border: 1px rgb(46, 109, 164) solid;
	margin-left: -10px;
}

.new-lang-area {
	margin-top: 10px;
}

div.local-row > span.col-xs-4 > * {
	display: inline-block;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}