

    <div class="pre-scrollable well category-well">

            <% for i in 0..@urls.length-1 %>
                <%= raw return_item_thumbnail(@urls[i],@names[i],i.to_s) %>
            <% end %>
             
            
    </div>
    
    <div class="pre-scrollable well item-well">
        
            <% for i in 0..@urls.length-1 %>
                <%= raw return_item_thumbnail(@urls[i],@names[i],i.to_s) %>
            <% end %>
        
    </div>
    
    <div class="pre-scrollable well viewer-well">
        
            <% for i in 0..@urls.length-1 %>
                <%= raw return_item_thumbnail(@urls[i],@names[i],i.to_s) %>
            <% end %>
            
    </div>


