<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class-"navbar-header">
			<a class="navbar-brand" href="#">Missione di Milano</a>
		</div>
		
		<ul class="navbar-right nav navbar-nav">
			<li><a rel="nofollow" data-method="delete" href="/login"><span class="glyphicon glyphicon-user"></span>Log Out</a></li>
		</ul>
		
		
	</div>
</nav>